@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue';
  src: url('/fonts/neueSerie57®-Regular.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
  font-display: swap; 
}

@font-face {
  font-family: 'Neue';
  src: url('/fonts/neueSerie57®-Book.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: none;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Neue', Arial, Helvetica, sans-serif;
}
